.budget_container {
  margin-bottom: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1050px) {
    flex-direction: column;
  }

  @media (max-width: 420px) {
    margin-bottom: 10rem;
  }

  .budget_desc {
    max-width: 40%;
    margin-left: 1rem;

    @media (max-width: 1050px) {
      max-width: 100%;
      margin-top: 2rem;
      margin-left: 0;

      text-align: center;
    }
  }

  .scroll_class {
    transform-origin: bottom right;
    transform-box: fill-box;
  }

  .scroll_class:nth-of-type(1) {
    animation: img-shake 1s linear forwards;
  }

  .scroll_class:nth-of-type(2) {
    animation: img-shake2 1s linear forwards;
  }

  .budget_img_container {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: 580px) {
      justify-content: flex-end;
      margin-left: 4.5rem;
      width: 80%;
    }
  }

  .budget_img {
    width: 17rem;
    height: 27rem;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 800px) {
      width: 12rem;
      height: 22rem;
    }
  }

  .budget_img:nth-of-type(1) {
    position: relative;
    bottom: -6rem;
    background-image: url(../../assets//images//mockup.png);

    @media (max-width: 1050px) {
      bottom: -4rem;
    }
  }

  .budget_img:nth-of-type(2) {
    position: relative;
    left: -15%;
    background-image: url(../../assets//images//mockup2.png);

    @media (max-width: 1050px) {
      left: -5rem;
    }
  }

  @keyframes img-shake {
    from {
      transform: rotateZ(-16deg);
      @media (max-width: 650px) {
        transform: rotateZ(-10deg);
      }
    }
    to {
      transform: rotateZ(-8deg);
      @media (max-width: 650px) {
        transform: rotateZ(-4deg);
      }
    }
  }

  @keyframes img-shake2 {
    from {
      transform: rotateZ(16deg);
      @media (max-width: 650px) {
        transform: rotateZ(10deg);
      }
    }
    to {
      transform: rotateZ(8deg);
      @media (max-width: 650px) {
        transform: rotateZ(4deg);
      }
    }
  }
}
